.play {
    display : flex;
    flex-direction : column;
    justify-content: space-between;
    margin : 0px;
}

.navBar {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items : center;
    height : 6vh;
    width : 100%;
    margin-top : 0vh;
    text-decoration: none;
    outline: none;
}

.salvos-logo {
    color: #F36D1A;
    letter-spacing : 0.07rem;
    text-decoration : none;
    outline : none;
    transition : all 0.2s;
    padding : 0.2rem 0.6rem;
    font-size: 4vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.helloName {
    text-align: right;
    color: #D3D5D6;
    letter-spacing : 0.04rem;
    text-decoration : none;
    outline : none;
    transition : all 0.2s;
    padding : 0.4rem 0.9rem;
    font-size: 3vh;
    width : 50vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.dynamicGameArea {

}





@media only screen and (min-width: 768px) {
    .gameArea {
        margin : 10vh 0vh;
        height : 60vh;
        width : 100%;
        display : flex;
        flex-direction : column;
        justify-content: center;
        align-items: center;
    }

    .start-button {
        margin: 6vh 2vh;
    }
    .start-text {
        margin-top : 0vh;
        margin-bottom: 2vh;
        padding: 0px;
        display: block;
        color: #D3D5D6;
        letter-spacing : 0.07rem;
        text-decoration : none;
        outline : none;
        transition : all 0.2s;
        font-size: 10vh;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
    }
    .start-underLine{
        margin-left:0.4rem;
        border : none;
        display : block;
        width : 50%;
        background-color : #D3D5D6;
        height : 1px;
    }

}


@media only screen and (max-width: 768px) {
    .gameArea {
        margin : 0vh 0vh;
        height : 80vh;
        width : 100%;
        display : flex;
        flex-direction : column;
        justify-content: center;
        align-items: center;
    }

    .start-button {
        margin: 6vh 2vh;
    }

    .start-text {
        align-self: center;
        margin-top : -3rem;
        margin-bottom : 0px;
        padding : 0px;
        display: block;
        color: #D3D5D6;
        letter-spacing : 0.07rem;
        text-decoration : none;
        outline : none;
        transition : all 0.2s;
        font-size: 10vh;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
    }
    .start-underLine{
        align-self: flex-start;
        margin-top: 2vh;
        margin-bottom: 3vh;
        border : none;
        display : block;
        width : 40%;
        background-color : #D3D5D6;
        height : 1px;
    }
}



