/*mobile*/
@media only screen and (max-width: 768px) {
    .gameArea-question-render {
        margin : 0vh 0vh;
        height : 80vh;
        width : 100%;
        display : flex;
        flex-direction : column;
        justify-content: center;
        align-items: center;
    }
}

/*PC*/
@media only screen and (min-width: 768px) {
    .gameArea-question-render {
        margin: 10vh 0vh;
        height: 60vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.gameScreen {
    margin-top: 3rem;
    height : 100%;
    width : 100%
}

.gameRenderer {
    display : flex;
    flex-direction : column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.questionHead {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
}

.questionSubHead {
    order : 1;
    display : flex;
    flex-direction: row;
    justify-content: flex-start;
}

.questionHeadText {
    margin-right: 2vw;
    display: inline;
    order : 1;
    color: #E8EAEE ;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
    letter-spacing: 0.04rem;
    align-self: flex-start;
}

.counterContainer {
    width:24vw;
    margin-left: 1vw;
    order : 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.questionCounter {
    align-self: flex-start;
    width : 24vw;
    order : 1;
    display: inline;
    font-weight: bold;
    font-size: large;
    font-family: "Montserrat", sans-serif;
    color: #E8EAEE ;
    letter-spacing: 0.07rem;
}

.counterUnderLine {
    margin-bottom: -2px;
    order : 2;
    align-self: flex-start;
    border : none;
    display : block;
    width : 50%;
    background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    height : 1px;
}

.timerContainer {
    width: 6rem;
    margin-top: -3vh;
    margin-right: 1.5rem;
    height : 15vh;
    order : 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.timerHead {
    color: #E8EAEE ;
    font-weight: lighter;
    font-family: "Montserrat", sans-serif;
}

.timer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: bolder;
    margin-top: -5vh;
    text-align: center;
    width: 6rem;
    height: 12vh;
    align-self: center;
    color: #E8EAEE ;
    text-decoration: none;
    font-size: 10vh;
    font-family: 'Montserrat', sans-serif;
}

.timerTimeMin{
    letter-spacing: 0.1rem;
    height: 5vh;
    width: 14vw;
    margin-right: 5px;
    font-size: 4vh;
}

.timerMinSecSeparator {
    margin-right: 5px;
    font-size: 4vh;
}

/*.timerMinLabel {*/
/*    margin-right: 3px;*/
/*    font-size: 2vh;*/
/*}*/

.timerTimeSec {
    letter-spacing: 0.1rem;
    height: 5vh;
    width: 15vw;
    margin-right: 3px;
    font-size: 4vh;
}

/*.timerSecLabel {*/
/*    font-size: 2vh;*/
/*}*/

.timerUnderLine {
    align-self: flex-start;
    margin-left:0.4rem;
    border : none;
    display : block;
    width : 50%;
    background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    height : 1px;
}

@media only screen and (min-width: 786px) {
    .counterContainer {
        height : 10vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width : 10vw;
        margin-left: 0px;
    }

    .questionCounter {
        height: 27px;
        font-size: 22px;
        width: 8vw;
        align-self: flex-start;
        margin-bottom: 3px;
    }

    .counterUnderLine {
        order : 2;
        align-self: flex-start;
        border : none;
        display : block;
        width : 50%;
        background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
        height : 1px;
    }

    .timerContainer {
        margin-top: -3px;
        margin-right: 0.8rem;
        width : 15vw;
        order : 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .timerHead {
        color: #E8EAEE ;
        font-weight: lighter;
        font-family: "Montserrat", sans-serif;
    }

    .timer {
        margin-top: -3vh;
    	justify-content: center;
        height: 12vh;
        width: 15vw;
        align-self: center;
        color: #E8EAEE ;
        font-weight: bold;
        text-decoration: none;
        font-size: 10vh;
        font-family: 'Montserrat', sans-serif;
    }

	.timerTimeMin{
        margin-right: -0.8rem;
        width: 5vw;
    }

    .timerTimeSec {
        margin-left: -0.8rem;
        width: 5vw;
    }
    
   
    .timerUnderLine {
        align-self: center;
        margin-left:0.4rem;
        border : none;
        display : block;
        width : 50%;
        background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
        height : 1px;
    }
}



.question {
    margin : 5vh 0vw 3vh 0vw;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    letter-spacing: 0.02rem;
    color: #E8EAEE ;
    font-size: medium;
}

.questionQ {
    margin-right: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    background: -webkit-linear-gradient(to right, #30cfd0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.questionImage {
    align-self: center;
    width: 85%;
}

.optionsContainer {
    margin-top: 2rem;
    padding-right: 0px;
    width: 100vw;
    margin-left: -3vh;
}

.options {
    list-style : none;
    display : flex;
    flex-direction : column;
    justify-content: flex-start;
    align-items: flex-start;
}

.optionInstant {
    margin-bottom: 4px;
    align-self: flex-start;
    width: 100%;
}

.optionButton {
    box-shadow : 4px 2px 10px black;
    border-style : none;
    text-align: center;
    border-radius: 2px;
    min-height: 10vh;
    height : auto;
    width : 90%;
    font-size: medium;
    font-weight: bold;
    font-family : "Montserrat", sans-serif;
    outline : none;
    text-decoration: none;
    background-color:#E8EAEE ;
    color: #343130;
    transition: all 0.5s;
}

.optionButton:active {
    background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    color: #E8EAEE ;
}



@media only screen and (min-width: 768px) {

    .optionsContainer {
        padding-right: 0px;
        width: 50vw;
        margin-left: 20vw;
    }

    .options {
        list-style : none;
        display : flex;
        flex-direction : column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .optionInstant {
        align-self: flex-start;
        width: 100%;
        margin-bottom: 4px;
    }

    .optionButton {
        border-radius: 2px;
        text-align: center;
        border-style: none;
        height: auto;
        min-height : 10vh;
        width : 90%;
        font-size: medium;
        font-weight: bold;
        font-family : "Montserrat", sans-serif;
        outline : none;
        text-decoration: none;
        background-color: #E8EAEE ;
        color: #343130;
        transition: all 0.2s;
    }
}

.answerTextContainer {
	margin-top: 3rem;
}

.answerTextForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answerTextLabel {
    margin-left: 1rem;
    margin-bottom: 6px;
    align-self: flex-start;
    color: #E8EAEE;
    font-size: 15px;
    letter-spacing: 0.06rem;
    font-family: "Montserrat", sans-serif;
}

.answerTextInput {
    font-weight: bold;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    width: 90%;
    border-style: none;
    border-radius: 4px;
    height: 40px;
    margin-bottom: 1rem;
}

.answerSubmitButton {
    border-style: none;
}

@media only screen and (min-width: 786px) {
    .answerTextContainer {
    	margin-top: 5rem;
        width: 50%;
        align-self: center;
    }
    
    .answerTextLabel {
    	margin-left: 2rem;
    }
    
    .answerTextInput {
    	margin-bottom: 2rem;
    }
}

.result {
    height: 100%;
    width: 100%;
    background-color: #E8EAEE ;
    color: #343130;
    font-size: medium;
    font-family: "Montserrat", sans-serif;
}

.timeOut {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeOutHead {
    align-self: center;
    font-family: "Montserrat", sans-serif;
    font-size: xx-large;
    color: #E8EAEE;
}

.timeOut-underline {
    margin-top: -1.5rem;
    margin-bottom: 1rem;
    align-self: center;
    border : none;
    display : block;
    width : 50%;
    background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    height : 1px;
}

.timeOutContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: large;
    color: #E8EAEE;
}

.timeOutP {
    align-self: center;
    margin: 1rem 0rem 2rem 0rem;
}

.timeOutTime {
    border-radius: 2px;
    box-shadow : 4px 2px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 15vh;
    background-color: #19191B;
    align-self: center;
}


.timeOutTimeText {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    background: -webkit-linear-gradient(to right, #30cfd0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.a-signout {
    text-decoration : none;

}

.resultDeveloper {
    margin-top: 1.5rem;
}








